html {
    width: 100%;
    height: 100vh;
}

header {
    margin-bottom: 2%;
    padding: 0 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.3);
}

.nav-bar {
    width: 30%;
}

.nav-bar a {
    margin-left: 5%;
    text-decoration: none;
    background-color: rgba(9, 90, 253, 0.36);
    color: #000000;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.3);
}

.workshop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workshop-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(9, 90, 253, 0.36);
    margin: 2%;
    padding: 1%;
}

.workshop-form label,
input,
button {
    margin-bottom: 2%;
}